@import "tailwindcss";

@layer theme {
  :root {
    --sproutGreen: #6dbe45;
    --sunflowerYellow: #f9d64d;
    --oliveLeaf: #a4c77c;
    --soilBrown: #7b5e57;
    --skyBlue: #aee3f5;
    --offWhite: #fafaf5;
    --darkText: #2f2f2f;
    --lightText: #777777;
    --backgroundGreen: #3cb371;
    --powerBlue: #0047ab;
    --backgroundDarkGreen: #339860;
    --darkBrown: #2b1d0e;
  }
}
